:root {
  /* Colors */
  --color-primary: #ad4844;
  --color-secondary: #111111;
  --color-background: #f1f1f1;
  --color-white: #ffffff;

  /* Font sizes */
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 48px;

  /* Spacing */
  --spacing-small: 20px;
  --spacing-medium: 40px;
  --spacing-large: 70px;
}
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-secondary);
  background-color: var(--color-background);
}

[id] {
  scroll-margin-top: 50px;
}

/* ====================================================================================================================
   ================================================  SEKCJA: OGOLNE  ==================================================
   ==================================================================================================================== */

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

.background-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.ingredient-item .background-effects {
  z-index: 1;
}

.effect .background-effects,
.content .background-effects {
  z-index: 0;
}

.product-image .background-effects,
.content__image .background-effects {
  height: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.section__title h2 {
  font-size: 20px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #111111 0%,
    #b1b1b1 100%,
    #696969 100%,
    #b1b1b1 100%
  );
  -webkit-background-clip: text; /* Dla Chrome, Safari */
  background-clip: text; /* Standardowa wersja dla innych przeglądarek */
  color: transparent;
}

.section__title p {
  color: var(--color-secondary);
  font-size: 13px;
}

.section__title-line {
  height: 1px;
  width: 40px;
  background-color: var(--color-secondary);
  margin-top: 20px;
}

.effect3,
.effect4,
.effect5,
.effect6,
.effect7,
.effect8,
.effect9,
.effect10,
.effect11,
.effect12,
.effect13,
.effect30,
.effect33,
.effect40,
.effect44,
.effect50,
.effect60 {
  position: absolute;
  height: auto;
}

.effect3 {
  top: 0;
  left: -10px;
  width: 53px;
}

.effect4 {
  top: 20px;
  right: -10px;
  width: 53px;
}

.effect5 {
  display: none;
  top: -140px;
  left: 0;
  width: 318px;
}

.effect6 {
  display: none;
  top: -140px;
  right: 0;
  width: 318px;
}

.effect7 {
  display: none;
  top: 400px;
  right: 0;
  width: 127px;
}

.effect8 {
  display: none;
  top: 100px;
  left: -54px;
  width: 76px;
}

.effect9 {
  display: none;
  top: 65px;
  right: -45px;
  width: 64px;
}

.effect10 {
  display: none;
  bottom: 30px;
  left: -45px;
  width: 76px;
}

.effect11 {
  display: none;
  top: 120px;
  right: -15px;
  width: 73px;
}

.effect12 {
  display: none;
  top: 50px;
  left: -65px;
  width: 76px;
}

.effect13 {
  display: none;
  top: 120px;
  right: -20px;
  width: 73px;
}

.effect14 {
  display: none;
  position: absolute;
  top: -150px;
  left: -40px;
  width: 180px;
}

.effect15 {
  display: none;
  position: absolute;
  bottom: -100px;
  right: -44px;
  width: 146px;
}
.effect18 {
  position: absolute;
  top: -100px;
  left: -20px;
  width: 111px;
}
.effect19 {
  position: absolute;
  bottom: -30px;
  right: -10px;
  width: 89px;
}

.effect30 {
  top: 20px;
  left: 0;
  width: 53px;
}

.effect33 {
  top: -50px;
  left: -10px;
  width: 53px;
}

.effect40 {
  top: 40px;
  right: 0;
  width: 53px;
}

.effect44 {
  top: -50px;
  right: 0;
  width: 53px;
}

.effect50 {
  bottom: 0;
  left: 0;
  width: 63px;
}

.effect60 {
  top: 0;
  right: 0;
  width: 45px;
}

/* ====================================================================================================================
   ================================================  SEKCJA: HEADER  ==================================================
   ==================================================================================================================== */

.header {
  background-color: var(--color-background);
  position: fixed;
  width: 100%;
  z-index: 4;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-primary);
}

.logo-overlay {
  color: var(--color-secondary);
}

.menu__button {
  background-color: transparent;
  border: none;
}

.menu__button:hover {
  cursor: pointer;
}

.navigation {
  display: none;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);
}

.navigation__list-item {
  text-transform: uppercase;
}

.navigation__list-item a {
  font-size: 16px;
  color: var(--color-secondary);
}

.navigation__list-item a.active {
  border-bottom: 1px solid #111111;
}

/* ====================================================================================================================
   ================================================  SEKCJA: HEAD  ==================================================
   ==================================================================================================================== */

.head {
  display: flex;
  padding-top: 60px;
  padding-bottom: 85px;
  position: relative;
}

.head__flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.head__img {
  display: block;
}

.head .logo {
  display: none;
  margin: 0 0 32px 0;
}

.head__description h2 {
  font-size: var(--font-size-medium);
  background: linear-gradient(
    90deg,
    #111111 0%,
    #b1b1b1 100%,
    #696969 100%,
    #b1b1b1 100%
  );
  -webkit-background-clip: text; /* Dla Chrome, Safari */
  background-clip: text; /* Standardowa wersja dla innych przeglądarek */
  color: transparent;
  text-align: center;
  margin-bottom: var(--spacing-small);
}

.head__description p {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  text-align: center;
}

.btn {
  display: none;
  padding: 10px 40px;
  margin-top: var(--spacing-small);
  background-color: #30ab4c;
  color: #f6f6f6;
  border: none;
  font-size: var(--font-size-medium);
  transition: all 0.3s ease-in-out;
  width: auto;
}

.btn:hover {
  cursor: pointer;
}

/* ====================================================================================================================
   ================================================  SEKCJA: ABOUT  ==================================================
   ==================================================================================================================== */

.about {
  padding-block: var(--spacing-large);
  position: relative;
}

.about__boxes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1 1 calc(33.33% - 20px);
  padding-bottom: 20px;
  transition: all 0.5s ease-in;

  position: relative;
}

.about__box:hover {
  border-bottom: 1px solid #111111;
}

.about__box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__box-header h3 {
  font-size: var(--font-size-medium);
  color: var(--color-secondary);
}

.about__box-body p {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
}

.about__box-image {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.about__box-body ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.about__box-body ul li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.number-box {
  background-color: var(--color-white);
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-box p {
  font-size: var(--font-size-small);
  font-weight: bold;
}

/* ====================================================================================================================
   ================================================  SEKCJA: EFFECT  ==================================================
   ==================================================================================================================== */

.effect {
  padding-top: 70px;
  padding-bottom: 29px;
  background-color: var(--color-white);
  position: relative;
}

.effect__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.effect__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 46px;
}

.effect__list .number-box p {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.effect__list li {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

/* ====================================================================================================================
   ================================================  SEKCJA: CONTENT  ==================================================
   ==================================================================================================================== */

.content {
  margin-top: 17px;
  padding-top: 70px;
  background-color: var(--color-white);
  position: relative;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 70px;
  text-align: center;
  align-items: center;
}

.product-image {
  order: 2; /* Przesuwamy .product-image na koniec listy */
  position: relative;
  z-index: 2;
}

.product-image .productImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.product-image .btn {
  background-color: var(--color-primary);
  margin-inline: auto;
  font-weight: bold;
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}

.icon-circle {
  width: 70px;
  height: 70px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
}

.ingredient-item .icon-circle {
  display: none;
}

.ingredient-item h3 {
  font-size: var(--font-size-medium);
}

.ingredient-item:hover h3 {
  border-bottom: 1px solid #111111;
}

.ingredient-item p {
  font-size: var(--font-size-small);
}

.content__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.imo {
  position: relative;
  z-index: 2;
  overflow: visible;
}

.content__image .effect20 {
  position: absolute;
  top: -15px;
  left: 27px;
  width: 79px;
}

.content__image .effect21 {
  position: absolute;
  bottom: -110px;
  right: 0px;
  width: 79px;
}

.content__image .effect22 {
  display: none;
  position: absolute;
  top: -50px;
  left: 135px;
  width: 175px;
}

.content__image .effect23 {
  display: none;
  position: absolute;
  bottom: -220px;
  right: 80px;
  width: 175px;
}

.dogImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ====================================================================================================================
   ================================================  SEKCJA: PRODUCTS  ==================================================
   ==================================================================================================================== */

.products {
  background-color: var(--color-background);
  padding-block: 120px;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

label {
  border: 1px solid #ad4844;
  padding: 10px;
  font-size: var(--font-size-medium);
}

select {
  padding: 5px 40px;
  font-size: var(--font-size-medium);
  font-weight: bold;
  background-color: var(--color-primary);
  color: #f6f6f6;
  text-align: center;
  text-align-last: center;
  outline: none;
}

.productsList {
  display: grid;
  gap: 50px;
}

.product {
  background-color: #bebebe;
  border: 1px solid #bebebe;
  padding: 10px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.product p {
  font-size: 31px;
  color: #000;
}

/* ====================================================================================================================
   ================================================  MODAL  ==================================================
   ==================================================================================================================== */

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffd4;
  pointer-events: none;
}

.modal-content {
  background-color: var(--color-primary);
  margin: 50px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  pointer-events: auto;
}

.modal-content .navigation {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content .navigation__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content .navigation__list a {
  text-transform: uppercase;
  color: #d8d8d8;
}

.modal-content .navigation__list-item a.active {
  border-bottom: 1px solid #ffffff;
}

/* ====================================================================================================================
   ================================================  POPUP  ==================================================
   ==================================================================================================================== */

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white);
  padding: 8px 0 39px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 40vw;
  min-width: 300px;
  max-width: 1000px;

  min-height: 300px;

  flex-direction: column;
  justify-content: space-between;
}

#popupContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.popup p {
  font-size: 31px;
  color: #000;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 17px;
  font-size: 31px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__content {
    min-height: 50px;
  }

  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 200px;
  }

  .header {
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .header__content {
    justify-content: space-evenly;
  }

  .logo {
    margin: 50px 0 50px 0;
  }

  .head {
    padding-top: 150px;
    padding-bottom: 153px;
  }

  .head__flex {
    flex-direction: row;
  }

  .head__img {
    width: 100%;
  }

  .head__description {
    margin-left: 100px;
  }

  .head__description h2,
  .head__description p {
    text-align: left;
  }

  .head .logo {
    display: block;
    font-size: 40px;
  }

  .about {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .section__title h2 {
    font-size: var(--font-size-large);
  }

  .section__title p,
  .about__box-header h3 {
    font-size: 31px;
  }

  .section__title-line {
    width: 126px;
  }

  .about__boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__box {
    gap: unset;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .about__box-header {
    margin-bottom: 30px;
  }

  .about__box-body {
    margin-bottom: 50px;
  }

  .about__box-body p,
  .number-box p {
    font-size: var(--font-size-medium);
  }

  .about__box-body ul {
    align-items: flex-start;
  }

  .number-box {
    width: 46px;
    height: 46px;
  }

  .about__box img {
    border-radius: 8px;
  }

  .effect,
  .effect3,
  .effect4,
  .effect18,
  .effect19,
  .content__image .effect20,
  .content__image .effect21,
  .effect30,
  .effect33,
  .effect40,
  .effect50,
  .effect60,
  .effect44,
  .menu__button,
  .ingredient-item:nth-child(8),
  .ingredient-item svg,
  .ingredient-item:last-child {
    display: none;
  }

  .effect5,
  .effect6,
  .effect7,
  .effect8,
  .effect9,
  .effect10,
  .effect11,
  .effect12,
  .effect13,
  .effect14,
  .effect15,
  .content__image .effect22,
  .content__image .effect23,
  .ingredient-item .icon-circle,
  .navigation,
  .btn {
    display: block;
  }

  .ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: unset;
    text-align: left;
  }

  .ingredient-item {
    text-align: center;
  }

  .product-image {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .controls {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }

  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .menu__button {
    display: none;
  }

  .head__description h2 {
    font-size: 40px;
  }

  .head__description p,
  .ingredient-item p {
    font-size: var(--font-size-medium);
  }

  .head .logo {
    font-size: 90px;
  }

  .ingredient-item h3 {
    font-size: 31px;
  }
}
