/* Reset dla wszystkich elementów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Ustawienia dla tekstu */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #111111;
  background-color: #f6f6f6;
}

[id] {
  scroll-margin-top: 200px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  color: #ad4844;
}

.header__hero-logo {
  display: none;
}

.logo-overlay {
  color: #111111;
}

.menu__button {
  margin-block: 15px;
  background-color: transparent;
  border: none;
}

.menu__button:hover {
  cursor: pointer;
}
/*Navigation */
.navigation {
  display: none;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.header__hero h2 {
  font-size: 20px;
}
.header__hero p {
  font-size: 13px;
}

.header__hero-text {
  margin-bottom: 85px;
}

.btn {
  display: none;
  padding: 10px 40px;
  margin-top: 20px;
  background-color: #30ab4c;
  color: #f6f6f6;
  border: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  width: auto;
}

.btn:hover {
  cursor: pointer;
}

.product-image .btn {
  background-color: #ad4844;
  margin-inline: auto;
}

.header__menu {
  position: fixed;
  width: 100%;
}
.navigation__list-item a.active {
  border-bottom: 1px solid black;
}
/*About*/
.section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 70px;
}
.section__title p {
  font-size: 13px;
  color: #111111;
}

.section__title h2 {
  background: linear-gradient(
    90deg,
    #111111 0%,
    #b1b1b1 100%,
    #696969 100%,
    #b1b1b1 100%
  );
  -webkit-background-clip: text; /* Dla Chrome, Safari */
  background-clip: text; /* Standardowa wersja dla innych przeglądarek */
  color: transparent;
  font-size: 20px;
}
.section__title-line {
  height: 1px;
  width: 40px;
  background-color: #111111;
  margin-top: 20px;
}
.about__boxes {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 70px;
}

.about__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1 1 calc(33.33% - 20px);
}

.about__box:first-of-type {
  border-bottom: 1px solid #111111;
}

.about__box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__box h3 {
  font-size: 20px;
}
.about__box p {
  font-size: 13px;
}

.about__box-image {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about__box-body ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.about__box-body ul li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.number-box {
  background-color: #ffffff;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number-box p {
  font-size: 20px;
  font-weight: bold;
}
.effect__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.effect__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 46px;
}
.effect__list p {
  font-size: 13px;
}
.effect__list .number-box p {
  font-size: 20px;
  font-weight: bold;
}

.effect__list li {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 767px) {
  .header {
    background-image: url(./images/effectHeaderMobile@1x.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left -10px;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .header {
      background-image: url(./images/effectHeaderMobile@2x.png);
    }
  }
}
@media (min-width: 768px) {
  body {
    background-image: url(./images/effectHeaderDesctop@1x.png),
      url(./images/effectHeader2Desctop@1x.png),
      url(./images/effectHeader3Desctop@1x.png);
    background-repeat: no-repeat;
    background-position: top 800px left 10px, top 800px right -10px,
      top 600px right -5px;
  }

  .about__box {
    margin-inline: 25px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
      background-image: url(./images/effectHeaderDesctop@2x.png),
        url(./images/effectHeader2Desctop@2x.png),
        url(./images/effectHeader3Desctop@2x.png); /* Obraz dla urządzeń Retina */
    }
  }
  .header__menu {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .header__hero {
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-block: 150px;
  }
  .header__hero img {
    width: 100%;
  }
  .header__hero-logo {
    display: block;
  }

  .header__hero-logo .logo {
    font-size: 48px;
  }

  .menu__button {
    display: none;
  }

  /*Navigation */
  .navigation {
    display: block;
    margin-block: 20px;
  }

  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .navigation__list-item {
    text-transform: uppercase;
  }

  .btn {
    display: block;
    width: auto;
  }

  .section__title h2 {
    font-size: 48px;
  }

  .about__boxes {
    flex-direction: row;

    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: space-evenly;
  }

  .about__box {
    text-align: center;
    max-width: 420px;
  }

  .about__box img {
    max-width: 100%;
    border-radius: 8px;
  }

  .about__box h3 {
    font-size: 21px;
  }
  .about__box p {
    font-size: 13px;
  }

  .number-box {
    width: 46px;
    height: 46px;
  }
  .effect {
    display: none;
  }
}

@media (min-width: 840px) {
  .about__boxes {
    gap: 100px;
  }
}

/* Styl dla modala */
.modal {
  display: none; /* Modal jest ukryty domyślnie */
  position: fixed;
  z-index: 1; /* Ustawiamy modal nad innymi elementami */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Tło modala */
  pointer-events: none;
}

/* Styl zawartości modala */
.modal-content {
  background-color: #ad4844;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  pointer-events: auto;
}

.modal-content .navigation {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-content .navigation__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content .navigation__list a {
  text-transform: uppercase;
  color: #d8d8d8;
}

.modal-content .navigation__list-item a.active {
  border-bottom: 1px solid #ffffff;
}

/**/

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  text-align: center;
}
.ingredient-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 300px;
}
.product-image {
  order: 2; /* Przesuwamy .product-image na koniec listy */
}

.product-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.content__image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.ingredients h3 {
  font-size: 20px;
}
.ingredients p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    text-align: left;
  }
  .product-image {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ingredient-item:nth-child(8) {
    display: none;
  }
}

/**/
.controls {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

label {
  border: 1px solid #ad4844;
  padding: 10px;
  font-size: 20px;
}

select {
  padding: 5px 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ad4844;
  color: #f6f6f6;
  text-align: center;
  text-align-last: center;
  outline: none;
}

.productsList {
  display: grid;
  gap: 10px;
}

.product {
  background-color: #BEBEBE;
  border: 1px solid #BEBEBE;
  padding: 10px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

/* Responsive grid */
@media (max-width: 768px) {
  .productsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .controls {
    flex-direction: row;
    display: flex;
    justify-content: center;
  }
  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}
